In [3]:
import pandas as pd

# 数据加载
df = pd.read_csv('./sales.csv', encoding='gbk')
df

          时间  销售额（万元）
0    2004年1月      740
1    2004年2月      745
2    2004年3月      746
3    2004年4月      780
4    2004年5月      784
5    2004年6月      785
6    2004年7月      793
7    2004年8月      792
8    2004年9月      785
9   2004年10月      782
10  2004年11月      789
11  2004年12月      793
12   2005年1月      795
13   2005年2月      790
14   2005年3月      796
15   2005年4月      810
16   2005年5月      830
17   2005年6月      843
18   2005年7月      843
19   2005年8月      852
20   2005年9月      854
21  2005年10月      860
22  2005年11月      859
23  2005年12月      864
24   2006年1月      865
25   2006年2月      854
26   2006年3月      850
27   2006年4月      855
28   2006年5月      862
29   2006年6月      864
30   2006年7月      870
31   2006年8月      875
32   2006年9月      880
33  2006年10月      888
34  2006年11月      879
35  2006年12月      897
36   2007年1月      900
37   2007年2月      887
38   2007年3月      890
39   2007年4月      893
40   2007年5月      899
41   2007年6月      923

In [4]:
df.columns = ['time', 'amount']

In [6]:
df.time = pd.to_datetime(df.time, format='%Y年%m月')
df.index = df.time

In [7]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from statsmodels.tsa.arima_model import ARIMA
import statsmodels.api as sm
import warnings
from itertools import product
from datetime import datetime, timedelta
import calendar

warnings.filterwarnings('ignore')

# 设置参数范围
ps = range(0, 5)
qs = range(0, 5)
ds = range(1, 2) # [1, 2) = 1
parameters = product(ps, ds, qs)
parameters_list = list(parameters)
# 寻找最优ARMA模型参数，即best_aic最小
results = []
best_aic = float("inf") # 正无穷
for param in parameters_list:
    try:
        # SARIMAX 包含季节趋势因素的ARIMA模型
        model = sm.tsa.statespace.SARIMAX(df.amount,
                                order=(param[0], param[1], param[2]),
                                #seasonal_order=(4, 1, 2, 12),
                                enforce_stationarity=False,
                                enforce_invertibility=False).fit()

    except ValueError:
        print('参数错误:', param)
        continue
    aic = model.aic
    if aic < best_aic:
        best_model = model
        best_aic = aic
        best_param = param
    results.append([param, model.aic])
# 输出最优模型
print('最优模型: ', best_model.summary())

最优模型:                                 SARIMAX Results
==============================================================================
Dep. Variable:                 amount   No. Observations:                   42
Model:               SARIMAX(1, 1, 4)   Log Likelihood                -125.697
Date:                Sun, 17 Apr 2022   AIC                            263.393
Time:                        19:43:17   BIC                            272.894
Sample:                    01-01-2004   HQIC                           266.709
                         - 06-01-2007
Covariance Type:                  opg
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
ar.L1          0.9973      0.043     23.431      0.000       0.914       1.081
ma.L1         -0.7513   1293.221     -0.001      1.000   -2535.419    2533.916
ma.L2         -0.3617    321.492     -0.001      0.999    -630.475     629.752
ma.L3          0.2107    146.257      0.001      0.999    -286.448     286.870
ma.L4         -0.0976    126.184     -0.001      0.999    -247.413     247.218
sigma2        58.3504   7.55e+04      0.001      0.999   -1.48e+05    1.48e+05
===================================================================================
Ljung-Box (L1) (Q):                   0.01   Jarque-Bera (JB):                 1.42
Prob(Q):                              0.92   Prob(JB):                         0.49
Heteroskedasticity (H):               1.74   Skew:                             0.48
Prob(H) (two-sided):                  0.35   Kurtosis:                         3.19
===================================================================================

Warnings:
[1] Covariance matrix calculated using the outer product of gradients (complex-step).

In [13]:
# 设置future_month，需要预测的时间date_list
df2 = df[['amount']]
future_month = 4
last_month = pd.to_datetime(df2.index[len(df2)-1])
date_list = []
for i in range(future_month):
    # 计算下个月有多少天
    year = last_month.year
    month = last_month.month
    """
    if month == 12:
        month = 1
        year = year+1
    else:
        month = month + 1
    """
    next_month_days = calendar.monthrange(year, month)[1]
    #print(next_month_days)
    last_month = last_month + timedelta(days=next_month_days)
    date_list.append(last_month)
print('date_list=', date_list)

# 添加未来要预测的4个月
future = pd.DataFrame(index=date_list, columns= df.columns)
df2 = pd.concat([df, future])

df2

date_list= [Timestamp('2007-07-01 00:00:00'), Timestamp('2007-08-01 00:00:00'), Timestamp('2007-09-01 00:00:00'), Timestamp('2007-10-01 00:00:00')]

                 time amount
2004-01-01 2004-01-01    740
2004-02-01 2004-02-01    745
2004-03-01 2004-03-01    746
2004-04-01 2004-04-01    780
2004-05-01 2004-05-01    784
2004-06-01 2004-06-01    785
2004-07-01 2004-07-01    793
2004-08-01 2004-08-01    792
2004-09-01 2004-09-01    785
2004-10-01 2004-10-01    782
2004-11-01 2004-11-01    789
2004-12-01 2004-12-01    793
2005-01-01 2005-01-01    795
2005-02-01 2005-02-01    790
2005-03-01 2005-03-01    796
2005-04-01 2005-04-01    810
2005-05-01 2005-05-01    830
2005-06-01 2005-06-01    843
2005-07-01 2005-07-01    843
2005-08-01 2005-08-01    852
2005-09-01 2005-09-01    854
2005-10-01 2005-10-01    860
2005-11-01 2005-11-01    859
2005-12-01 2005-12-01    864
2006-01-01 2006-01-01    865
2006-02-01 2006-02-01    854
2006-03-01 2006-03-01    850
2006-04-01 2006-04-01    855
2006-05-01 2006-05-01    862
2006-06-01 2006-06-01    864
2006-07-01 2006-07-01    870
2006-08-01 2006-08-01    875
2006-09-01 2006-09-01    880
2006-10-01 2006-10-01    888
2006-11-01 2006-11-01    879
2006-12-01 2006-12-01    897
2007-01-01 2007-01-01    900
2007-02-01 2007-02-01    887
2007-03-01 2007-03-01    890
2007-04-01 2007-04-01    893
2007-05-01 2007-05-01    899
2007-06-01 2007-06-01    923
2007-07-01        NaT    NaN
2007-08-01        NaT    NaN
2007-09-01        NaT    NaN
2007-10-01        NaT    NaN

In [11]:
len(df2)

46

In [14]:
# get_prediction得到的是区间，使用predicted_mean
df2['forecast'] = best_model.get_prediction(start=0, end=len(df2)).predicted_mean
df2

                 time amount     forecast
2004-01-01 2004-01-01    740     0.000000
2004-02-01 2004-02-01    745  1109.018905
2004-03-01 2004-03-01    746   749.997400
2004-04-01 2004-04-01    780   747.002591
2004-05-01 2004-05-01    784   813.905908
2004-06-01 2004-06-01    785   787.990785
2004-07-01 2004-07-01    793   786.984179
2004-08-01 2004-08-01    792   798.967320
2004-09-01 2004-09-01    785   792.758312
2004-10-01 2004-10-01    782   785.759196
2004-11-01 2004-11-01    789   781.966573
2004-12-01 2004-12-01    793   791.941748
2005-01-01 2005-01-01    795   793.905567
2005-02-01 2005-02-01    790   797.616400
2005-03-01 2005-03-01    796   789.261888
2005-04-01 2005-04-01    810   800.210350
2005-05-01 2005-05-01    830   813.479993
2005-06-01 2005-06-01    843   837.436301
2005-07-01 2005-07-01    843   847.872385
2005-08-01 2005-08-01    852   846.891570
2005-09-01 2005-09-01    854   858.767294
2005-10-01 2005-10-01    860   856.036306
2005-11-01 2005-11-01    859   866.363377
2005-12-01 2005-12-01    864   860.334725
2006-01-01 2006-01-01    865   870.231175
2006-02-01 2006-02-01    854   866.528147
2006-03-01 2006-03-01    850   855.151462
2006-04-01 2006-04-01    855   852.640295
2006-05-01 2006-05-01    862   858.029253
2006-06-01 2006-06-01    864   865.432309
2006-07-01 2006-07-01    870   866.587062
2006-08-01 2006-08-01    875   874.646642
2006-09-01 2006-09-01    880   877.861725
2006-10-01 2006-10-01    888   884.167576
2006-11-01 2006-11-01    879   892.221429
2006-12-01 2006-12-01    897   878.591944
2007-01-01 2007-01-01    900   906.957852
2007-02-01 2007-02-01    887   898.393696
2007-03-01 2007-03-01    890   889.794672
2007-04-01 2007-04-01    893   893.698332
2007-05-01 2007-05-01    899   894.720452
2007-06-01 2007-06-01    923   903.253510
2007-07-01        NaT    NaN   930.928779
2007-08-01        NaT    NaN   932.776169
2007-09-01        NaT    NaN   938.314680
2007-10-01        NaT    NaN   941.960550

In [ ]:
方法1：时间序列 => 快 baseline => ARIMA
方法2：回归分析 => 多变量 （time, 活动次数，商品个数，促销预算，居民购买力）
     => 树模型 XGBoost, LightGBM; 神经网络 LSTM, MLP