In [1]:
import os

def get_project_path(*paths):
    """获取项目路径的统一方法"""
    try:
        return os.path.join(os.path.dirname(__file__), *paths)
    except NameError:
        return os.path.join(os.getcwd(), *paths)

## Step 1: 数据加载

In [ ]:
import pandas as pd

# 加载用户信息表
Train_UPT = pd.read_csv(get_project_path('data', 'user_profile_table.csv'), nrows=5)
# 加载用户申购赎回数据表
Train_UBT = pd.read_csv(get_project_path('data', 'user_balance_table.csv'), nrows=5)
# 加载收益率表
Train_MDSI = pd.read_csv(get_project_path('data', 'mfd_day_share_interest.csv'), nrows=5)
# 加载银行间拆借利率表
Train_MBS = pd.read_csv(get_project_path('data', 'mfd_bank_shibor.csv'), nrows=5)

## Step 2: 数据探索

提示词：编写 Python，读取 user_balance_table.csv 前 5 行数据，显示全部列

In [3]:
print("=== user_profile_table.csv 前5行数据 ===")
print(f"数据形状：{Train_UPT.shape}")
print(f"列数：{len(Train_UPT.columns)}")
print("\n=== 全部列名 ===")

for i, col in enumerate(Train_UPT.columns):
    print(f"{i + 1}. {col}")

print("\n=== 前5行数据 ===")
print(Train_UPT.to_string())

print("\n=== 数据类型 ===")
print(Train_UPT.dtypes)

=== user_profile_table.csv 前5行数据 ===
数据形状：(5, 4)
列数：4

=== 全部列名 ===
1. user_id
2. sex
3. city
4. constellation

=== 前5行数据 ===
   user_id  sex     city constellation
0        2    1  6411949           狮子座
1       12    1  6412149           摩羯座
2       22    1  6411949           双子座
3       23    1  6411949           双鱼座
4       25    1  6481949           双鱼座

=== 数据类型 ===
user_id           int64
sex               int64
city              int64
constellation    object
dtype: object

In [4]:
print("=== user_balance_table.csv 前5行数据 ===")
print(f"数据形状：{Train_UBT.shape}")
print(f"列数：{len(Train_UBT.columns)}")
print("\n=== 全部列名 ===")

for i, col in enumerate(Train_UBT.columns):
    print(f"{i + 1}. {col}")

print("\n=== 前5行数据 ===")
print(Train_UBT.to_string())

print("\n=== 数据类型 ===")
print(Train_UBT.dtypes)

=== user_balance_table.csv 前5行数据 ===
数据形状：(5, 18)
列数：18

=== 全部列名 ===
1. user_id
2. report_date
3. tBalance
4. yBalance
5. total_purchase_amt
6. direct_purchase_amt
7. purchase_bal_amt
8. purchase_bank_amt
9. total_redeem_amt
10. consume_amt
11. transfer_amt
12. tftobal_amt
13. tftocard_amt
14. share_amt
15. category1
16. category2
17. category3
18. category4

=== 前5行数据 ===
   user_id  report_date  tBalance  yBalance  total_purchase_amt  direct_purchase_amt  purchase_bal_amt  purchase_bank_amt  total_redeem_amt  consume_amt  transfer_amt  tftobal_amt  tftocard_amt  share_amt  category1  category2  category3  category4
0        1     20140805     20385     20383                   2                    0                 0                  0                 0            0             0            0             0          2        NaN        NaN        NaN        NaN
1        1     20140808     20391     20389                   2                    0                 0                  0                 0            0             0            0             0          2        NaN        NaN        NaN        NaN
2        1     20140811     20397     20395                   2                    0                 0                  0                 0            0             0            0             0          2        NaN        NaN        NaN        NaN
3        1     20140814     20403     20401                   2                    0                 0                  0                 0            0             0            0             0          2        NaN        NaN        NaN        NaN
4        1     20140817     20409     20407                   2                    0                 0                  0                 0            0             0            0             0          2        NaN        NaN        NaN        NaN

=== 数据类型 ===
user_id                  int64
report_date              int64
tBalance                 int64
yBalance                 int64
total_purchase_amt       int64
direct_purchase_amt      int64
purchase_bal_amt         int64
purchase_bank_amt        int64
total_redeem_amt         int64
consume_amt              int64
transfer_amt             int64
tftobal_amt              int64
tftocard_amt             int64
share_amt                int64
category1              float64
category2              float64
category3              float64
category4              float64
dtype: object

In [5]:
print("=== mfd_day_share_interest.csv 前5行数据 ===")
print(f"数据形状：{Train_MDSI.shape}")
print(f"列数：{len(Train_MDSI.columns)}")
print("\n=== 全部列名 ===")

for i, col in enumerate(Train_MDSI.columns):
    print(f"{i + 1}. {col}")

print("\n=== 前5行数据 ===")
print(Train_MDSI.to_string())

print("\n=== 数据类型 ===")
print(Train_MDSI.dtypes)

=== mfd_day_share_interest.csv 前5行数据 ===
数据形状：(5, 3)
列数：3

=== 全部列名 ===
1. mfd_date
2. mfd_daily_yield
3. mfd_7daily_yield

=== 前5行数据 ===
   mfd_date  mfd_daily_yield  mfd_7daily_yield
0  20130701           1.5787             6.307
1  20130702           1.5461             6.174
2  20130703           1.4670             6.034
3  20130704           1.4223             5.903
4  20130705           1.3845             5.739

=== 数据类型 ===
mfd_date              int64
mfd_daily_yield     float64
mfd_7daily_yield    float64
dtype: object

In [6]:
print("=== mfd_bank_shibor.csv 前5行数据 ===")
print(f"数据形状：{Train_MBS.shape}")
print(f"列数：{len(Train_MBS.columns)}")
print("\n=== 全部列名 ===")

for i, col in enumerate(Train_MBS.columns):
    print(f"{i + 1}. {col}")

print("\n=== 前5行数据 ===")
print(Train_MBS.to_string())

print("\n=== 数据类型 ===")
print(Train_MBS.dtypes)

=== mfd_bank_shibor.csv 前5行数据 ===
数据形状：(5, 9)
列数：9

=== 全部列名 ===
1. mfd_date
2. Interest_O_N
3. Interest_1_W
4. Interest_2_W
5. Interest_1_M
6. Interest_3_M
7. Interest_6_M
8. Interest_9_M
9. Interest_1_Y

=== 前5行数据 ===
   mfd_date  Interest_O_N  Interest_1_W  Interest_2_W  Interest_1_M  Interest_3_M  Interest_6_M  Interest_9_M  Interest_1_Y
0  20130701         4.456         5.423         6.040        6.8800         5.295        4.2390        4.2820        4.4125
1  20130702         3.786         4.750         5.074        5.8000         5.211        4.2344        4.2808        4.4070
2  20130703         3.400         4.242         4.658        5.2000         5.148        4.2300        4.2796        4.4022
3  20130704         3.348         3.938         4.464        5.1020         5.029        4.2287        4.2776        4.4000
4  20130705         3.380         3.816         4.295        4.7885         4.939        4.2273        4.2749        4.4000

=== 数据类型 ===
mfd_date          int64
Interest_O_N    float64
Interest_1_W    float64
Interest_2_W    float64
Interest_1_M    float64
Interest_3_M    float64
Interest_6_M    float64
Interest_9_M    float64
Interest_1_Y    float64
dtype: object

提示词：针对字段 report_date，显示 total_purchase_amt 和 total_redeem_amt 的总和，用折线图进行呈现。这样我可以知道整体所有人在某一天的申购总额和赎回总额

提示词：帮我截取从 2014-03-01 到 2014-08-31 的数据，然后我想看下这段数据的平稳性（分别看下 total_purchase_amt 和 total_redeem_amt），使用ADF检验

需要使用 ARIMA 模型

提示词：帮我对综述会进行一次差分，然后再通过 ADF检验它的平稳性

提示词：针对申购不需要差分，使用 ARIMA(5, 0, 5)；针对赎回需要进行差分，使用 ARIMA(5, 1, 5);对截取的从 2014-03-01 到 2014-08-31 的数据进行学习，预测 2014-09-01 到 2014-09-30 的申购总额和赎回总额。写入到 .csv，表头是 report_date, purchase, redeem。模型放在 model 目录下

## Step 3: 特征选择

## Step 4: 模型训练

## Step 5: 模型预测